body {
  background-color: rgb(152, 235, 157);
}
p.solid {border-style: solid;}

h1 {
  color: rgb(39, 39, 191);
p.solid {
    border-style: solid;
  }

}


h2 {
  color: rgb(255, 255, 255);
}

h3 {
  color: rgb(255,255,255)
}

ul {
  color: rgb(255, 255, 255)
}